* {
  font-family: $primary
}

p {
  font-size: 18px;
  line-height: 1.5;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  min-height: 700px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}