.header {
  background-color: $gray;
  color: $black;
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 30px;
  padding: 20px;

  .logo {
    .title {
      font-size: 24px;
    }
  }
}